@import "tailwindcss";

@theme {
    --color-brand-primary: #1E3A8A;
    --color-brand-dark: #112358;
    --color-brand-light: #F4F6FC;
    --color-brand-white: #FFFFFF;
    --font-sans: "Geist", sans-serif;
}

@utility bg-data-grid {
    background-size: 32px 32px;
    background-image: 
        linear-gradient(to right, rgba(30, 58, 138, 0.04) 1px, transparent 1px),
        linear-gradient(to bottom, rgba(30, 58, 138, 0.04) 1px, transparent 1px);
}